In [1]:
from chatto_transform.sessions.mimic import mimic_common
from chatto_transform.schema.mimic import mimic_schema
from chatto_transform.lib.chunks import left_join

import pandas as pd

In [2]:
transfers = mimic_common.load_table(mimic_schema.transfers_schema)

In [3]:
services = mimic_common.load_table(mimic_schema.services_schema)

In [4]:
df = left_join(transfers, services, 'hadm_id')

In [5]:
df['time_diff'] = (df['intime'] - df['transfertime']).abs()
df['time_diff']

0        0 days 03:24:31
1        2 days 07:34:02
2        0 days 00:00:00
3        0 days 12:27:56
4        0 days 21:14:34
               ...
347705   0 days 01:45:15
347706   0 days 12:00:13
347707   0 days 18:53:59
347708   1 days 16:36:27
347709   4 days 12:50:05
Name: time_diff, dtype: timedelta64[ns]

In [6]:
filtered_df = df[df['time_diff'] < pd.Timedelta(hours=12)]

In [7]:
filtered_df

,row_id_x,subject_id_x,hadm_id,icustay_id,dbsource,...,subject_id_y,transfertime,prev_service,curr_service,time_diff
3,796,135,192180,NaN,carevue,...,135,2173-05-18 11:12:05,NaN,NMED,00:00:00
7,800,135,199634,NaN,carevue,...,135,2174-05-17 00:53:16,NaN,NSURG,00:00:00
12,805,136,184644,NaN,carevue,...,136,2103-05-09 00:23:08,NaN,NSURG,00:00:00
18,811,137,151583,NaN,carevue,...,137,2191-11-10 13:57:43,NaN,CSURG,00:00:00
28,821,138,108120,NaN,carevue,...,138,2131-10-31 00:16:14,NaN,CSURG,00:00:00
...,...,...,...,...,...,...,...,...,...,...,...
347696,256811,96402,149199,NaN,metavision,...,96402,2158-05-01 20:10:14,NaN,NMED,00:00:00
347697,256812,96402,149199,262672,metavision,...,96402,2158-05-01 20:10:14,NaN,NMED,06:00:43
347701,256816,96404,110194,NaN,metavision,...,96404,2193-09-07 16:35:42,NaN,MED,00:00:00
347705,256820,96404,187255,NaN,metavision,...,96404,2197-03-14 14:55:31,NaN,MED,00:00:00
347706,256821,96404,187255,NaN,metavision,...,96404,2197-03-14 14:55:31,NaN,MED,11:23:17