# Demo notebook

Here we demonstrate the basic ability to run queries, view the results, and download them as csvs.

In [1]:
from chatto_transform.sessions.mimic import mimic_common

You can use `mimic_common.query()` to load tables and examine their results in the notebook.

Execute the next cell with `Shift + Enter`, then select `patients` and click `Execute`.

In [2]:
mimic_common.query()

Loaded patients and stored in loaded_tables["patients"]

We can view the result of the query like this:

In [3]:
mimic_common.loaded_tables['patients']

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,hospital_expire_flag
0,254,271,F,2074-11-30,2074-11-30,NaT,NaT,N
1,255,272,M,2119-11-21,2119-11-21,NaT,NaT,N
2,256,273,M,2107-08-10,2107-08-10,NaT,NaT,N
3,257,274,M,2048-05-18,2048-05-18,2122-09-07,NaT,N
4,258,275,M,2088-08-07,2088-08-07,2170-10-19,2170-10-19,Y
5,259,276,M,2112-01-16,2112-01-16,NaT,NaT,N
6,260,277,M,2132-10-21,2132-10-21,NaT,NaT,N
7,261,279,M,2090-02-27,2090-02-27,NaT,2164-06-27,N
8,262,280,M,2155-12-08,2155-12-08,NaT,NaT,N
9,263,281,F,2041-10-12,2041-10-12,2101-10-25,2101-10-24,Y
10,264,282,F,2101-04-06,2101-04-06,NaT,2175-08-06,N
11,265,283,M,2090-09-05,2090-09-05,NaT,2166-12-09,N
12,266,284,F,2062-08-14,2062-08-14,NaT,2151-02-17,N
13,267,285,M,2107-05-16,2107-05-16,NaT,NaT,N
14,268,286,F,2090-12-25,2090-12-25,NaT,2176-04-27,N
15,269,287,M,2096-12-21,2096-12-21,2171-02-01,2171-02-01,N
16,270,288,F,2191-05-19,2191-05-19,NaT,NaT,N
17,271,290,M,2104-09-08,2104-09-08,NaT,NaT,N
18,272,291,F,2034-02-07,2034-02-07,2107-10-09,NaT,N
19,273,292,F,2046-09-17,2046-09-17,2103-09-28,NaT,Y
20,274,293,F,2078-02-13,2078-02-13,NaT,NaT,N
21,275,294,M,2039-05-21,2039-05-21,2119-01-27,2119-01-28,N
22,276,295,F,2115-02-07,2115-02-07,NaT,NaT,N
23,277,296,M,2117-05-15,2117-05-15,NaT,2200-01-31,N
24,278,297,M,2135-10-05,2135-10-05,NaT,NaT,N
25,279,298,F,2067-09-14,2067-09-14,NaT,NaT,N
26,280,299,M,2176-06-26,2176-06-26,NaT,NaT,N
27,281,300,F,2131-10-16,2131-10-16,NaT,NaT,N
28,282,301,M,2104-07-15,2104-07-15,2189-11-20,2189-11-20,N
29,283,302,M,2074-03-11,2074-03-11,NaT,NaT,N
...,...,...,...,...,...,...,...,...
46490,46137,98552,F,2098-10-17,2098-10-17,NaT,2187-12-18,N
46491,46138,98554,F,2079-11-07,2079-11-07,NaT,NaT,N
46492,46139,98555,M,2113-01-18,2113-01-18,NaT,NaT,N
46493,46140,98557,M,2068-08-17,2068-08-17,NaT,NaT,N
46494,46141,98558,M,2058-03-21,2058-03-21,2127-06-27,2127-06-27,N
46495,46142,98562,M,2022-12-08,2022-12-08,NaT,NaT,N
46496,46143,98564,M,2105-10-04,2105-10-04,NaT,NaT,N
46497,46144,98565,M,2088-04-18,2088-04-18,2150-09-27,2150-09-28,N
46498,46145,98573,M,2131-08-13,2131-08-13,NaT,NaT,N
46499,46146,98574,M,2124-05-16,2124-05-16,NaT,NaT,N
46500,46147,98577,F,1913-07-07,1913-07-07,2123-07-09,NaT,Y
46501,46148,98582,F,2038-09-24,2038-09-24,2120-09-13,NaT,Y
46502,46149,98584,F,2015-06-10,2015-06-10,NaT,2102-10-24,N
46503,46150,98586,M,2068-04-28,2068-04-28,NaT,NaT,N
46504,46151,98588,F,1957-03-27,1957-03-27,NaT,NaT,N
46505,46152,98589,M,2080-01-15,2080-01-15,NaT,NaT,N
46506,46153,98593,F,2131-11-17,2131-11-17,NaT,NaT,N
46507,46154,98595,F,2082-01-07,2082-01-07,NaT,NaT,N
46508,46155,98597,M,2140-12-25,2140-12-25,2189-10-22,2189-10-22,Y
46509,46156,98601,M,2132-01-05,2132-01-05,NaT,NaT,N
46510,46157,98604,F,2118-06-24,2118-06-24,NaT,NaT,N
46511,46158,98605,F,2112-12-28,2112-12-28,NaT,NaT,N
46512,46159,98606,F,2074-10-08,2074-10-08,2128-04-30,NaT,Y
46513,46160,98615,M,2175-04-22,2175-04-22,NaT,NaT,N
46514,46161,98620,M,2142-02-23,2142-02-23,NaT,NaT,N
46515,46162,98622,F,2134-12-22,2134-12-22,NaT,NaT,N
46516,46163,98623,M,2104-05-06,2104-05-06,NaT,NaT,N
46517,46164,98630,F,2075-07-25,2075-07-25,NaT,NaT,N
46518,46165,98634,M,2086-06-19,2086-06-19,NaT,NaT,N
46519,46166,98636,F,2064-06-20,2064-06-20,NaT,NaT,N

We can also download query results as CSV files to our local computer.

Execute the following cell, then select the `patients` table. Enter `gender='M'` in the `Where` box. Then click the `Execute` button.

A download link to a csv file should appear. You can right-click it to save it to your computer.

In [4]:
mimic_common.download_table()

/Users/dan/dev/data/mimic3_local_storage/patients.csv