# Demo notebook

### Here we demonstrate the basic ability to run queries, view the results, and download them as csvs.

### To go through this notebook, click a cell and press (Shift + Enter) to execute it. Move through the cells in sequence and read the text along the way.

**Notebook display settings**

This cell enables inline charts and sets table display settings

In [1]:
%matplotlib inline
import matplotlib
matplotlib.style.use('ggplot')
matplotlib.rcParams['figure.figsize'] = (10.0, 8.0)

import pandas as pd
pd.options.display.max_columns = 10
pd.options.display.max_rows = 10

import warnings
warnings.filterwarnings('ignore')

### We'll start by importing the `mimic_common` module- this provides the most common operations for interacting with the MIMIC database.

In [2]:
from chatto_transform.sessions.mimic import mimic_common

### You can use `mimic_common.query()` to load tables and examine their results in the notebook.

### Execute the next cell with `Shift + Enter`, then select `patients` and click `Execute`.

In [3]:
mimic_common.query()

Loaded patients and stored in loaded_tables["patients"]

### We can view the result of the query like this:

In [4]:
mimic_common.loaded_tables['patients']

,row_id,subject_id,gender,dob,dod,dod_hosp,dod_ssn,hospital_expire_flag
0,254,271,F,2074-11-30,2074-11-30,NaT,NaT,N
1,255,272,M,2119-11-21,2119-11-21,NaT,NaT,N
2,256,273,M,2107-08-10,2107-08-10,NaT,NaT,N
3,257,274,M,2048-05-18,2048-05-18,2122-09-07,NaT,N
4,258,275,M,2088-08-07,2088-08-07,2170-10-19,2170-10-19,Y
...,...,...,...,...,...,...,...,...
46515,46162,98622,F,2134-12-22,2134-12-22,NaT,NaT,N
46516,46163,98623,M,2104-05-06,2104-05-06,NaT,NaT,N
46517,46164,98630,F,2075-07-25,2075-07-25,NaT,NaT,N
46518,46165,98634,M,2086-06-19,2086-06-19,NaT,NaT,N
46519,46166,98636,F,2064-06-20,2064-06-20,NaT,NaT,N

### We can also download query results as CSV files to our local computer.

### Execute the following cell, then select the `patients` table. Enter `gender='M'` in the `Where` box. Then click the `Execute` button.

### A download link to a csv file should appear. You can right-click it to save it to your computer.
#### (If you're running chatto-transform locally, there's not much point to this but it works)

In [5]:
mimic_common.download_table()

/Users/dan/dev/data/mimic3_local_storage/patients.csv

### You can also enter arbitrary SQL queries:

### Type in the following SQL query in the text area that appears:

````
SELECT * FROM MIMICIII.ADMISSIONS LIMIT 3
````

### Then click *Execute*.

In [6]:
mimic_common.sql()

Loaded SELECT * FROM MIMICIII.ADMISSIONS LIMIT 3 and stored in loaded_sql[0]

### And access the results like this:

In [7]:
mimic_common.loaded_sql[0]

,row_id,subject_id,hadm_id,admittime,dischtime,...,language,religion,marital_status,ethnicity,diagnosis
0,49,50,132761,2112-06-23 19:40:00,2112-06-26 10:15:00,...,NaN,OTHER,NaN,WHITE,NEWBORN
1,50,51,196010,2128-11-30 10:28:00,2128-12-02 12:35:00,...,NaN,CATHOLIC,NaN,WHITE,NEWBORN
2,51,52,190797,2191-01-10 02:12:00,2191-01-19 16:10:00,...,NaN,PROTESTANT QUAKER,SINGLE,WHITE,SEIZURES

### Let's get into doing stuff with code. You can load tables and queries without using the visual widgets above:

In [8]:
from chatto_transform.schema.mimic import mimic_schema

In [9]:
df = mimic_common.load_table(mimic_schema.admissions_schema)

In [10]:
df

,row_id,subject_id,hadm_id,admittime,dischtime,...,language,religion,marital_status,ethnicity,diagnosis
0,49,50,132761,2112-06-23 19:40:00,2112-06-26 10:15:00,...,NaN,OTHER,NaN,WHITE,NEWBORN
1,50,51,196010,2128-11-30 10:28:00,2128-12-02 12:35:00,...,NaN,CATHOLIC,NaN,WHITE,NEWBORN
2,51,52,190797,2191-01-10 02:12:00,2191-01-19 16:10:00,...,NaN,PROTESTANT QUAKER,SINGLE,WHITE,SEIZURES
3,52,53,155385,2170-03-20 20:20:00,2170-03-23 18:00:00,...,ENGL,CATHOLIC,MARRIED,UNKNOWN/NOT SPECIFIED,MYOCARDIAL INFARCTION\CARDIAC CATH
4,53,54,138795,2191-08-10 15:53:00,2191-08-14 14:29:00,...,NaN,PROTESTANT QUAKER,NaN,WHITE,NEWBORN
...,...,...,...,...,...,...,...,...,...,...,...
58971,58177,97443,128198,2150-02-16 07:15:00,2150-02-20 14:20:00,...,ENGL,PROTESTANT QUAKER,MARRIED,WHITE,PARAESOPHAGEAL HERNIA/SDA
58972,58178,97443,175034,2151-09-15 00:51:00,2151-09-22 14:00:00,...,ENGL,PROTESTANT QUAKER,MARRIED,WHITE,SMALL BOWEL OBSTRUCTION
58973,58179,97448,173435,2196-03-07 15:03:00,2196-03-14 13:55:00,...,ENGL,PROTESTANT QUAKER,MARRIED,WHITE,CORONARY ARTERY DISEASE
58974,58180,97449,149865,2183-02-19 13:15:00,2183-03-20 12:18:00,...,ENGL,NOT SPECIFIED,SINGLE,WHITE,PEDESTRIAN STRUCK
58975,58181,97460,136586,2165-05-30 19:43:00,2165-06-01 16:40:00,...,ENGL,UNOBTAINABLE,MARRIED,UNABLE TO OBTAIN,NON-Q-WAVE MYOCARDIAL INFARCTION\LEFT HEART CATH

### We just loaded the `admissions` table.

### We did this by called `mimic_common.load_table`, and passing it a `schema` object.

### Let's take a closer look at the `schema` we used, `mimic_schema.admissions_schema`:

In [11]:
mimic_schema.admissions_schema

Schema("admissions", [
    id_("row_id"),
    id_("subject_id"),
    num("hadm_id"),
    dt("admittime"),
    dt("dischtime"),
    dt("deathtime"),
    cat("admission_type"),
    cat("admission_location"),
    cat("discharge_location"),
    cat("insurance"),
    cat("language"),
    cat("religion"),
    cat("marital_status"),
    cat("ethnicity"),
    cat("diagnosis")
],
options={
    'db_schema': 'mimiciii'
})

### Here we see information about the `admissions` table. We see the names of types of the different columns.

### We can pass any of the schema objects in `mimic_schema` to `load_table`, and the table will be loaded. Feel free to take a look at the different schemas:

In [12]:
dir(mimic_schema)

['Column',
 'ColumnMeta',
 'MultiSchema',
 'PartialSchema',
 'Schema',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'admissions_schema',
 'big_dt',
 'bool_',
 'callout_schema',
 'caregivers_schema',
 'cat',
 'chartevents_schema',
 'col_to_big_dt',
 'copy',
 'cptevents_schema',
 'd_cpt_schema',
 'd_icd_diagnoses_schema',
 'd_icd_procedures_schema',
 'd_items_schema',
 'd_labitems_schema',
 'datetime',
 'datetimeevents_schema',
 'dateutil',
 'defaultdict',
 'delta',
 'diagnoses_icd_schema',
 'drgcodes_schema',
 'dt',
 'icustayevents_schema',
 'id_',
 'ioevents_schema',
 'labevents_schema',
 'microbiologyevents_schema',
 'noteevents_schema',
 'num',
 'numpy',
 'obj',
 'pandas',
 'patients_schema',
 'prescriptions_schema',
 'procedures_icd_schema',
 'services_schema',
 'transfers_schema']

### Say we want to download the table we just loaded. We can do it like this:

In [13]:
mimic_common.df_to_csv('admissions.csv', df)

/Users/dan/dev/data/mimic3_local_storage/admissions.csv

### To make further progress, take a look at the other Demo Notebooks.

### You can also read about the [Pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html) library, to learn about how to interact with the data.