#### This notebook assumes you already have the files for the `CharteventsDataStore` in your `local_storage_dir`.

#### The required files are:

- `chartevents_store.h5`
- `chartevents_store.h5_uom_categories.csv`
- `chartevents_store.h5_resultstatus_categories.csv`
- `chartevents_store.h5_value_categories.csv`
- `chartevents_store.h5_stopped_categories.csv`

In [1]:
from chatto_transform.datastores.mimic.chartevents_datastore import CharteventsDataStore

In [2]:
chartevents_store = CharteventsDataStore()

### You can pass in any number of conditions inside the list.

### See [pandas docs](http://pandas.pydata.org/pandas-docs/stable/io.html#querying-a-table) for info on how to query.

In [3]:
df = chartevents_store.select(['itemid == 198'])

loading categories for value
loading categories for uom
loading categories for resultstatus
loading categories for stopped

In [5]:
df.head()

,row_id,subject_id,hadm_id,icustay_id,itemid,charttime,storetime,cgid,value,valuenum,uom,warning,error,resultstatus,stopped
70440638,71247615,151,151029,263211,198,NaT,NaT,18424,14,14,points,NaN,NaN,NaN,NotStopd
70440923,71252978,152,117181,279643,198,NaT,NaT,18301,15,15,points,NaN,NaN,NaN,NotStopd
70441039,71270856,156,168847,260696,198,NaT,NaT,15025,15,15,points,NaN,NaN,NaN,NotStopd
70441138,71233710,148,199488,227964,198,NaT,NaT,15065,4,4,points,NaN,NaN,NaN,NotStopd
70441233,71258493,156,168847,260696,198,NaT,NaT,19650,15,15,points,NaN,NaN,NaN,NotStopd